*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #ffe4e1;
}

.texto{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    border: none;
    font-family: "arial";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    background-color: #ffe4e1;
    color: #800080;
}

.texto::placeholder{
    color: #800080;
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;
}

.terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 80%;
}

.terminos p{
    font-family: "arial";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #800080;
    opacity: 80%;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1%, 0;
    position: absolute;
    width: 680px;
    height: 67px;
    top: 83%;
    left: 240px;
    gap: 24px;
}

.btn-encriptar {
    align-items: center;
    justify-content: center;
    background-color: #800080;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    font-family: "Arial";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #fff;
}

.btn-desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: #ffe4e1;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    font-family: "arial";
    font-weight: 400;
    font-size: 18px;
    line-height: 19.36px;
    text-align: center;
    color: #000000;
}

.btn-desencriptar:hover{
    margin: 0.3%;
    width: 333px;
    padding: 1.8%;
}

.btn-encriptar:hover{
    margin: 0.3%;
    width: 333px;
    padding: 1.8%;
}

.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #f6d8ce;
    box-shadow: 0px 24px 32px -8px rgb(0, 0, 0, 0.8);
    border-radius: 32px;
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje-encriptado h2 {
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}

.mensaje-encriptado p {
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.encriptado img {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}
    